.not-found {
  background-color: #fff;
  padding-top: 34px;
  min-height: 300px;
  display: flex;

  &__text {
    display: inline-block;
    margin: auto;
    font-size: 30px;
    font-weight: bold;
  }
}
