.result-table {
  background-color: #fff;
  width: 1140px;
  padding-left: 20px;
  padding-top: 35px;
  border-collapse: collapse;

  &__head-col {
    color: #95989a;
    font-weight: 600;
    text-align: left;
    font-size: 18px;
    line-height: 40px;
    padding: 16px 10px;
    border: 0;
  }

  &__head-col:first-child {
    text-align: center;
  }
}
